.card {
    width: 288px;
   display: flex;
    margin: 15px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.productImage {
    height: 250px;
    width: 150px
}


ul {
    
    padding: 0;
    list-style: none;
}

li {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid;
    border-color: lightgrey;
}

.btn {
    background-color: grey;
    width: 75%;
    height:40px;
    color: white;
    margin: 25px 0px;
    cursor: pointer;
}
